<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<!--
    Moodini
    Copyright (C) 2016 Marcus Fihlon

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.
-->

<module name="Checker">

    <property name="localeLanguage" value="en" />

    <!-- Checks that a package.html file exists for each package.  -->
    <!-- See http://checkstyle.sourceforge.net/config_javadoc.html -->
    <module name="JavadocPackage" />

    <!-- Checks whether files end with a new line.                        -->
    <!-- See http://checkstyle.sf.net/config_misc.html#NewlineAtEndOfFile -->
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf" />
    </module>

    <!-- Checks that property files contain the same keys.         -->
    <!-- See http://checkstyle.sf.net/config_misc.html#Translation -->
    <module name="Translation" />

    <!-- Checks for Headers                                              -->
    <!-- See http://checkstyle.sourceforge.net/config_header.html#Header -->
    <module name="Header">
        <property name="headerFile" value="checkstyle-header.txt" />
        <property name="fileExtensions" value="java" />
        <property name="ignoreLines" value="3" />
    </module>

    <!-- Checks for Tab characters                                                     -->
    <!-- See http://checkstyle.sourceforge.net/config_whitespace.html#FileTabCharacter -->
    <module name="FileTabCharacter">
        <property name="fileExtensions" value="java" />
    </module>

    <!-- Checks for white space at the end of the line            -->
    <!-- See http://checkstyle.sourceforge.net/config_regexp.html -->
    <module name="RegexpSingleline">
        <property name="format" value="(?&lt;!\A[ \t]*\*?)[ \t]$" />
        <property name="message" value="Line has trailing spaces." />
        <property name="fileExtensions" value="java" />
    </module>

    <!-- Uses pairs of comments to suppress audit events                                    -->
    <!-- See http://checkstyle.sourceforge.net/config_filters.html#SuppressionCommentFilter -->
    <module name="SuppressionCommentFilter" />

    <!-- Uses individual comments to suppress audit events                                         -->
    <!-- See http://checkstyle.sourceforge.net/config_filters.html#SuppressWithNearbyCommentFilter -->
    <module name="SuppressWithNearbyCommentFilter">
        <property name="commentFormat" value="CHECKSTYLE DISABLE ([\w\|]+) FOR (-?\d+) LINES" />
        <property name="checkFormat" value="$1" />
        <property name="influenceFormat" value="$2" />
    </module>

    <!-- Checks for File Size Violations.               -->
    <!-- See http://checkstyle.sf.net/config_sizes.html -->
    <module name="FileLength">
        <property name="max" value="300" />
    </module>

    <module name="TreeWalker">

        <property name="cacheFile" value="${checkstyle.cache.file}"/>

        <!-- Ensure that CHECKSTYLE:OFF comments are available to the filter -->
        <module name="FileContentsHolder" />

        <!-- Ensure that @SuppessWarnings are available to the filter -->
        <module name="SuppressWarningsHolder" />

        <!-- Checks for Javadoc comments.                     -->
        <!-- See http://checkstyle.sf.net/config_javadoc.html -->
        <module name="JavadocMethod">
            <property name="scope" value="public" />
            <property name="allowUndeclaredRTE" value="true" />
            <property name="allowMissingJavadoc" value="true" />
        </module>
        <module name="JavadocType">
            <!-- <property name="authorFormat" value="null" /> -->
            <!-- It is unfortunate to have to do this but checkstyle doesn't allow custom tags -->
            <property name="allowUnknownTags" value="true" />
        </module>
        <module name="JavadocVariable">
            <property name="scope" value="protected" />
        </module>
        <module name="JavadocStyle">
            <property name="scope" value="public" />
            <!-- the checkHtml check is disabled as it generates incorrect errors -->
            <property name="checkHtml" value="false" />
        </module>

        <!-- Checks for Naming Conventions.                  -->
        <!-- See http://checkstyle.sf.net/config_naming.html -->
        <module name="ConstantName">
            <property name="format" value="^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$|^capabilities$|^log$" />
        </module>
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName" />
        <module name="PackageName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />

        <!-- Checks for imports                              -->
        <!-- See http://checkstyle.sf.net/config_import.html -->
        <module name="AvoidStarImport">
            <property name="allowStaticMemberImports" value="true" />
        </module>
        <module name="IllegalImport" /> <!-- defaults to sun.* packages -->
        <module name="RedundantImport" />
        <module name="UnusedImports" />
        <module name="ImportControl">
            <property name="severity" value="error" />
            <property name="file" value="checkstyle-import-control.xml" />
        </module>
        <module name="CustomImportOrder">
            <property name="customImportOrderRules" value="THIRD_PARTY_PACKAGE###SPECIAL_IMPORTS###STANDARD_JAVA_PACKAGE###STATIC" />
            <!-- <property name="specialImportsRegExp" value="^javax\." /> -->
            <property name="standardPackageRegExp" value="^java(|x)\." />
            <property name="sortImportsInGroupAlphabetically" value="false" />
            <property name="separateLineBetweenGroups" value="true" />
        </module>

        <!-- Checks for Size Violations.                    -->
        <!-- See http://checkstyle.sf.net/config_sizes.html -->
        <module name="LineLength">
            <property name="max" value="120" />
            <!-- Ignore import statements -->
            <property name="ignorePattern" value="^import\s.*$" />
        </module>
        <module name="MethodLength">
            <property name="max" value="50" />
            <!-- Ignore empty lines and comments -->
            <property name="countEmpty" value="false" />
        </module>
        <module name="ParameterNumber">
            <property name="max" value="3" />
        </module>
    </module>

</module>