<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<!--
    Moodini
    Copyright (C) 2016 Marcus Fihlon

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.
-->

<module name="Checker">

    <property name="localeLanguage" value="en" />

    <!-- Checks that a package.html file exists for each package.  -->
    <!-- See http://checkstyle.sourceforge.net/config_javadoc.html -->
    <module name="JavadocPackage" />

    <module name="TreeWalker">

        <module name="ImportControl">
            <property name="severity" value="error" />
            <property name="file" value="checkstyle-import-control.xml" />
        </module>

    </module>

</module>